<section id="fdrSection" class="content-section">
    <h2>Fixture Difficulty Rating (FDR)</h2>
    <div class="input-section">
        <label for="roundsToShowSlider">Gameweeks to Show:</label>
        <div>
            <input type="range" id="roundsToShowSlider" min="2" max="10" value="5">
            <span id="roundsToShowValueSpan">5</span>
        </div>
    </div>

    <div id="fdrGrid">
        <!-- FDR grid content will be generated here by JavaScript -->
    </div>
    
    <div id="fdrScaleDisplay">
        <!-- FDR scale will be rendered here by JavaScript -->
    </div>
</section>
