<section id="teamsToTargetSection" class="content-section">
    <h2>Teams To Target</h2>
    <div class="input-section">
        <label for="roundsToShowTeamsToTargetSlider">Gameweeks to Show:</label>
        <div>
            <input type="range" id="roundsToShowTeamsToTargetSlider" min="2" max="10" value="5">
            <span id="roundsToShowValueTeamsToTargetSpan">5</span>
        </div>
    </div>
    
    <div id="teamsToTargetList" class="teams-to-target-list">
        <!-- Teams to target list will be generated here by JavaScript -->
    </div>
</section>
